.form-group{
    width: 400px;
}
form{
    background-color: whitesmoke;
    border:red solid 1px;
    padding: 30px;
    margin-top: 10px;
    margin-left: 400px;
    margin-right: 400px;
    /* color: firebrick; */

}
